/* css reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}

.moderustic-ft {
  font-family: "Moderustic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.banner {
    background-image: url("../assets/pool.png");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255 196 127);
    box-shadow: rgb(229 255 114 / 55%) 12px 12px;
    border-radius: 20px;
}

.hero-text h1 {
    text-align: start;
    color: rgb(255 255 255);
    margin: 10px 50px 10px 50px;
    font-size: 50px;
    text-shadow: rgb(0 176 238)-2px 2px;
}

.skills {
    margin: 20px;
}

/* background-color: rgb(252, 176, 223); */